.Timetable {
	color: #ffb535;
	background-color: #202020;

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
	}
	&__stop {
		font-size: 28px;
		line-height: 1;
	}
	&__timer {

	}
	&__grid {
		display: grid;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	&__header {
		display: contents;
	}
	&__items {
		display: contents;
	}
	&__row {
		display: contents;
		font-size: 24px;
		line-height: 1;
	}
	&__cell {
		padding: 10px;
		border-bottom: 1px solid #ffffff10;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
		&_left {
			text-align: left;
		}
		&_right {
			text-align: right;
		}
	}
}
